upstream fastcgi_backend {
  server  unix:{{ php_sockets.stdout }};
}

server {

  listen 80;
  server_name ip-172-31-22-65.eu-west-3.compute.internal;
  set $MAGE_ROOT /var/www/magento;
  include /var/www/magento/nginx.conf.sample;
}